// /*
// css video: https://www.youtube.com/watch?v=yfoY53QXEnI
// reference: https://www.ybrikman.com/
// css animations: https://animania.info/css/squish
// png resizer: https://www.iloveimg.com/download/yqj436b8c3cs4gxtdlsvh7g5tg1wqbA4wv6rAzld6210xxpdrgfxdszs0pp00lxzmvyzjhc148774znqylpj4z13bAg7cghAw62ht2zqztfyyhx80rgts65yc0zxm3v8nlq3sg7y69wqqpdAjnhpkrcyzwpscfwnj1hzjxjqxpx937nj5v21/1
// Optimize for regular computer displays and iphones.

// 375 x 667 No breaks.
// 414 x 896,  break
// 390 x 844, break
// 430 x 932, break
// 412 x 915, break;
// 360 x740, break
// 412 x 

// // Variable data
:root {
    --teaGreen: #C5EFCB;
    --myBlack: #020402;
    --resedaGreen: #758173;
    --celadon: #A9C5A0;
    --teaGreenTwo: #C6DEC6;
    --transformData: transform 0.3s ease;
    --scaleData: scale(1.5);
}

.animation {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@media (300px < width < 500px) {
    .main-page-body {
        width: 100vw;
        height: 100vh;
        background-color: var(--resedaGreen);
        overflow: visible;

        .main-page-element {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .nav-container {
                display: flex;
                flex-direction: row;
                gap: 10%;
                position: absolute;
                align-items: center;
                width: 50%;
                height: 20%;
                border-radius: 100px;
                background-color: var(--celadon);

                .logo-btn {
                    margin-left: 2px;
                    align-items: center;
                    align-content: center;
                    align-self: center;
                    background-color: var(--teaGreen);
                    width: 30%;
                    height: 50%;
                    border-radius: 100px;
                    margin-left: 7%;
                    transition: transform 1s ease-out;
                    transition: background-color 0.3s ease-out;

                    .logo-image {
                        width: 40%;
                        height: 40%;
                    }
                }

                .logo-btn:hover {
                    cursor: pointer;
                    background-color: var(--resedaGreen);
                    transition: transform 0.3s ease-in;
                    transform: scale(1.3);
                }

            }


            .main-scene {
                margin-top: 50%;
                display: flex;
                align-self: center;
                flex-direction: column;
                align-items: center;
                gap: 2%;
                position: absolute;
                width: 60%;
                height: 100%;
                border-width: 20px;
                border-color: black;


                .header-container {
                    // align-self: stretch;
                    background-color: var(--celadon);
                    // grid-row: 1;
                    // grid-column: 1;
                    border-radius: 25px;

                }

                .head-shot {
                    // align-self: stretch;
                    background-color: var(--myBlack);
                    // grid-row: 2/4;
                    // grid-column: 1;
                    border-radius: 25px;

                    .self-image
                    {
                        margin-left: 2%;
                        margin-top: 2%;
                        width: 95%;
                        height: 95%;
                        border-radius: 25px;
                    }
                }

                .header-two-container {
                    align-self: center;
                    // grid-row: 1;
                    // grid-column: 2/3;
                    border-radius: 25px;

                    .header-two-text
                    {
                        margin-top: 35%;
                    }

                }

                .paragraph-container {
                    align-self: stretch;
                    background-color: var(--teaGreenTwo);
                    // grid-row: 2/4;
                    // grid-column: 2/4;
                    border-radius: 25px;
                    padding: 5% 5% 5% 5% ;

                }

                .skill-container {
                    align-self: stretch;
                    background-color: var(--celadon);
                    // grid-row: 1/4;
                    // grid-column: 4;
                    border-radius: 25px;
                }

                .contact-container 
                {
                    display: flex;
                    flex-direction: row;    
                    align-items: center;
                    gap: 2%;
                    align-self: stretch;
                    background-color: var(--teaGreenTwo);
                    // grid-row: 4;
                    // grid-column: 1/5;
                    border-radius: 25px;


                    .contact-logo
                    {
                        width: 10%;
                        height: 10%;
                    }

                }

                .slide-in-top {
                    animation-name: slide-in-top;
                }
                
                @keyframes slide-in-top {
                    from {
                        transform: translate(0, -1000%);
                        visibility: visible;
                    }
                
                    to {
                        transform: translate(0, 0);
                    }
                }
                
                .scale-in {
                    animation-name: scale-in;
                }
                
                @keyframes scale-in {
                    from {
                        transform: scale(0);
                        visibility: visible;
                    }
                
                    to {
                        transform: scale(1);
                    }
                }
                
                
                .slide-in-right {
                    animation-name: slide-in-right;
                }
                
                @keyframes slide-in-right {
                    from {
                        transform: translate(200%, 0);
                        visibility: visible;
                    }
                
                    to {
                        transform: translate(0, 0);
                    }
                }
                
                
                .slide-in-left {
                    animation-name: slide-in-left;
                }
                
                @keyframes slide-in-left {
                    from {
                        transform: translate(-200%, 0);
                        visibility: visible;
                    }
                
                    to {
                        transform: translate(0, 0);
                    }
                }
                
            }

        }
    }
}

// Big mobile displays
@media (500px < width < 800px) {
    .main-page-body {
        width: 100vw;
        height: 100vh;
        background-color: var(--resedaGreen);
        overflow: visible;

        .main-page-element {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .nav-container {
                display: flex;
                flex-direction: row;
                gap: 10%;
                position: absolute;
                align-items: center;
                width: 50%;
                height: 20%;
                border-radius: 100px;
                background-color: var(--celadon);

                .logo-btn {
                    margin-left: 2px;
                    align-items: center;
                    align-content: center;
                    align-self: center;
                    background-color: var(--teaGreen);
                    width: 30%;
                    height: 50%;
                    border-radius: 100px;
                    margin-left: 7%;
                    transition: transform 1s ease-out;
                    transition: background-color 0.3s ease-out;

                    .logo-image {
                        width: 40%;
                        height: 40%;
                    }
                }

                .logo-btn:hover {
                    cursor: pointer;
                    background-color: var(--resedaGreen);
                    transition: transform 0.3s ease-in;
                    transform: scale(1.3);
                }

            }

            .main-scene 
            {
                margin-top: 40%;
                display: flex;
                align-self: center;
                flex-direction: column;
                align-items: center;
                gap: 2%;
                position: absolute;
                width: 60%;
                height: 100%;
                border-width: 20px;
                border-color: black;


                .header-container {
                    // align-self: stretch;
                    background-color: var(--celadon);
                    // grid-row: 1;
                    // grid-column: 1;
                    border-radius: 25px;

                }

                .head-shot {
                    // align-self: stretch;
                    background-color: var(--myBlack);
                    // grid-row: 2/4;
                    // grid-column: 1;
                    border-radius: 25px;

                    .self-image
                    {
                        margin-left: 2%;
                        margin-top: 2%;
                        width: 95%;
                        height: 95%;
                        border-radius: 25px;
                    }
                }

                .header-two-container {
                    align-self: center;
                    // grid-row: 1;
                    // grid-column: 2/3;
                    border-radius: 25px;

                    .header-two-text
                    {
                        margin-top: 35%;
                    }

                }

                .paragraph-container {
                    align-self: stretch;
                    background-color: var(--teaGreenTwo);
                    // grid-row: 2/4;
                    // grid-column: 2/4;
                    border-radius: 25px;
                    padding: 5% 5% 5% 5% ;

                }

                .skill-container {
                    align-self: stretch;
                    background-color: var(--celadon);
                    // grid-row: 1/4;
                    // grid-column: 4;
                    border-radius: 25px;
                }

                .contact-container 
                {
                    display: flex;
                    flex-direction: row;    
                    align-items: center;
                    gap: 2%;
                    align-self: stretch;
                    background-color: var(--teaGreenTwo);
                    // grid-row: 4;
                    // grid-column: 1/5;
                    border-radius: 25px;


                    .contact-logo
                    {
                        width: 10%;
                        height: 10%;
                    }

                }

                .slide-in-top {
                    animation-name: slide-in-top;
                }
                
                @keyframes slide-in-top {
                    from {
                        transform: translate(0, -1000%);
                        visibility: visible;
                    }
                
                    to {
                        transform: translate(0, 0);
                    }
                }
                
                .scale-in {
                    animation-name: scale-in;
                }
                
                @keyframes scale-in {
                    from {
                        transform: scale(0);
                        visibility: visible;
                    }
                
                    to {
                        transform: scale(1);
                    }
                }
                
                
                .slide-in-right {
                    animation-name: slide-in-right;
                }
                
                @keyframes slide-in-right {
                    from {
                        transform: translate(200%, 0);
                        visibility: visible;
                    }
                
                    to {
                        transform: translate(0, 0);
                    }
                }
                
                
                .slide-in-left {
                    animation-name: slide-in-left;
                }
                
                @keyframes slide-in-left {
                    from {
                        transform: translate(-200%, 0);
                        visibility: visible;
                    }
                
                    to {
                        transform: translate(0, 0);
                    }
                }
                
            }
        }


    }

}

// Medium displays
@media (800px < width < 1189px) {
    .main-page-body {
        width: 100vw;
        height: 100vh;
        background-color: var(--resedaGreen);
        overflow: visible;

        .main-page-element {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 10%;
            width: 100%;
            height: 100%;

            .nav-container {
                display: flex;
                flex-direction: row;
                gap: 10%;
                position: absolute;
                align-items: center;
                width: 35%;
                height: 20%;
                border-radius: 100px;
                background-color: var(--celadon);

                .logo-btn {
                    align-items: center;
                    align-content: center;
                    align-self: center;
                    background-color: var(--teaGreen);
                    width: 35%;
                    height: 60%;
                    border-radius: 100px;
                    margin-left: 7%;
                    transition: transform 1s ease-out;
                    transition: background-color 0.3s ease-out;

                    .logo-image {
                        width: 35%;
                        height: 35%;
                    }
                }

                .logo-btn:hover {
                    cursor: pointer;
                    background-color: var(--resedaGreen);
                    transition: transform 0.3s ease-in;
                    transform: scale(1.3);
                }

            }

            .main-scene {
                margin-top: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5%;
                position: absolute;
                width: 60%;
                height: 100%;
                border-width: 20px;
                border-color: black;


                .header-container {
                    // align-self: stretch;
                    background-color: var(--celadon);
                    // grid-row: 1;
                    // grid-column: 1;
                    border-radius: 25px;

                }

                .head-shot {
                    // align-self: stretch;
                    background-color: var(--myBlack);
                    // grid-row: 2/4;
                    // grid-column: 1;
                    border-radius: 25px;

                    .self-image
                    {
                        margin-left: 2%;
                        margin-top: 2%;
                        width: 95%;
                        height: 95%;
                        border-radius: 25px;
                    }
                }

                .header-two-container {
                    align-self: center;
                    // grid-row: 1;
                    // grid-column: 2/3;
                    border-radius: 25px;

                    .header-two-text
                    {
                        margin-top: 35%;
                    }

                }

                .paragraph-container {
                    align-self: stretch;
                    background-color: var(--teaGreenTwo);
                    // grid-row: 2/4;
                    // grid-column: 2/4;
                    border-radius: 25px;
                    padding: 5% 5% 5% 5% ;

                }

                .skill-container {
                    align-self: stretch;
                    background-color: var(--celadon);
                    // grid-row: 1/4;
                    // grid-column: 4;
                    border-radius: 25px;
                }

                .contact-container 
                {
                    display: flex;
                    flex-direction: row;    
                    align-items: center;
                    gap: 2%;
                    align-self: stretch;
                    background-color: var(--teaGreenTwo);
                    // grid-row: 4;
                    // grid-column: 1/5;
                    border-radius: 25px;


                    .contact-logo
                    {
                        width: 10%;
                        height: 10%;
                    }

                }

                .slide-in-top {
                    animation-name: slide-in-top;
                }
                
                @keyframes slide-in-top {
                    from {
                        transform: translate(0, -1000%);
                        visibility: visible;
                    }
                
                    to {
                        transform: translate(0, 0);
                    }
                }
                
                .scale-in {
                    animation-name: scale-in;
                }
                
                @keyframes scale-in {
                    from {
                        transform: scale(0);
                        visibility: visible;
                    }
                
                    to {
                        transform: scale(1);
                    }
                }
                
                
                .slide-in-right {
                    animation-name: slide-in-right;
                }
                
                @keyframes slide-in-right {
                    from {
                        transform: translate(200%, 0);
                        visibility: visible;
                    }
                
                    to {
                        transform: translate(0, 0);
                    }
                }
                
                
                .slide-in-left {
                    animation-name: slide-in-left;
                }
                
                @keyframes slide-in-left {
                    from {
                        transform: translate(-200%, 0);
                        visibility: visible;
                    }
                
                    to {
                        transform: translate(0, 0);
                    }
                }
                
            }

        }


        .slide-in-top {
            animation-name: slide-in-top;
        }
        
        @keyframes slide-in-top {
            from {
                transform: translate(0, -1000%);
                visibility: visible;
            }
        
            to {
                transform: translate(0, 0);
            }
        }
    }
}


// Thie media query is for bigger displays
@media (1189px < width <=2000px) {
    .main-page-body {
        width: 100vw;
        height: 100vh;
        background-color: var(--resedaGreen);
        overflow: hidden;

        .main-page-element {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .nav-container {
                display: flex;
                flex-direction: row;
                gap: 10%;
                position: absolute;
                align-items: center;
                width: 20%;
                height: 20%;
                border-radius: 100px;
                background-color: var(--celadon);
                transition: transform 1s ease-out;
                transition: background-color 0.3s ease-out;

                .logo-btn {
                    align-items: center;
                    align-content: center;
                    align-self: center;
                    background-color: var(--teaGreen);
                    width: 35%;
                    height: 60%;
                    border-radius: 100px;
                    margin-left: 7%;

                    .logo-image {
                        width: 35%;
                        height: 35%;
                    }
                }

                .logo-btn:hover {
                    cursor: pointer;
                    background-color: var(--resedaGreen);
                    transition: transform 0.3s ease-in;
                    transform: scale(1.3);
                }

            }

            .main-scene {
                display: grid;
                grid-template-rows: 20% 20% 20% 20%;
                grid-template-columns: 20% 20% 20% 20%;
                gap: 1%;
                margin-top: 13%;
                margin-left: 10%;
                align-items: center;
                position: absolute;
                background-color: inherit;
                width: 80%;
                height: 70%;
                border-width: 20px;

                .header-container {
                    align-self: stretch;
                    background-color: var(--celadon);
                    grid-row: 1;
                    grid-column: 1;
                    border-radius: 25px;

                }

                .head-shot {
                    align-self: stretch;
                    background-color: var(--myBlack);
                    grid-row: 2/4;
                    grid-column: 1;
                    border-radius: 25px;


                    .self-image
                    {
                        margin-left: 2%;
                        margin-top: 2%;
                        width: 95%;
                        height: 95%;
                        border-radius: 25px;
                    }
                }

                .header-two-container {
                    align-self: end;
                    background-color: var(--resedaGreen);
                    grid-row: 1;
                    grid-column: 2/3;
                    border-radius: 25px;

                    .header-two-text
                    {
                        margin-top: 35%;
                    }

                }

                .paragraph-container {
                    align-self: stretch;
                    background-color: var(--teaGreenTwo);
                    grid-row: 2/4;
                    grid-column: 2/4;
                    border-radius: 25px;
                    padding: 5% 5% 5% 5% ;

                }

                .skill-container {
                    align-self: stretch;
                    background-color: var(--celadon);
                    grid-row: 1/4;
                    grid-column: 4;
                    border-radius: 25px;

                }

                .contact-container 
                {
                    display: flex;
                    flex-direction: row;    
                    align-items: center;
                    gap: 2%;
                    align-self: stretch;
                    background-color: var(--teaGreenTwo);
                    grid-row: 4;
                    grid-column: 1/5;
                    border-radius: 25px;


                    .contact-logo
                    {
                        width: 10%;
                        height: 10%;
                    }

                }
                
                .scale-in {
                    animation-name: scale-in;
                }
                
                @keyframes scale-in {
                    from {
                        transform: scale(0);
                        visibility: visible;
                    }
                
                    to {
                        transform: scale(1);
                    }
                }
                
                
                .slide-in-right {
                    animation-name: slide-in-right;
                }
                
                @keyframes slide-in-right {
                    from {
                        transform: translate(200%, 0);
                        visibility: visible;
                    }
                
                    to {
                        transform: translate(0, 0);
                    }
                }
                
                
                .slide-in-left {
                    animation-name: slide-in-left;
                }
                
                @keyframes slide-in-left {
                    from {
                        transform: translate(-200%, 0);
                        visibility: visible;
                    }
                
                    to {
                        transform: translate(0, 0);
                    }
                }
            }


            .slide-in-top {
                animation-name: slide-in-top;
            }
            
            @keyframes slide-in-top {
                from {
                    transform: translate(0, -1000%);
                    visibility: visible;
                }
            
                to {
                    transform: translate(0, 0);
                }
            }
        }
    }

}





// Projects page data
// .gitHubePage {
//     display: inline;
//     padding-left: 50%;
//     text-align: center;
//     justify-content: center;
//     justify-items: center;
//     justify-self: center;
//     text-rendering: optimizeLegibility;
//     font-family: "Anton SC", serif;
//     background-color: var(--celadon);
// }



// // github page
// .gitHubePage {
//     display: inline;
//     padding-left: 50%;
//     text-align: center;
//     justify-content: center;
//     justify-items: center;
//     justify-self: center;
//     text-rendering: optimizeLegibility;
//     font-family: "Anton SC", serif;
//     background-color: var(--resedaGreen);
// }

// .githubPageElement {
//     justify-content: center;
//     justify-items: center;
//     justify-self: center;
//     gap: 5vh;
//     display: flex;
//     flex-direction: column;

//     .animation {
//         animation-duration: 1s;
//         animation-fill-mode: both;
//     }

//     // Navigation bar
//     .nav-container {
//         margin-left: 30%;
//         background-color: var(--teaGreenTwo);
//         display: flex;
//         flex-direction: row;
//         justify-content: center; // Center items horizontally
//         justify-self: center;
//         align-items: center; // Center items vertically
//         padding: 5%;
//         width: 15vw;
//         height: 2vh;
//         border-style: solid;
//         border-radius: 15vw;
//         border-width: 0.5vw;
//         border-color: var(--celadon);

//         .logo-btn {
//             padding: 10% 10% 10% 10%;
//             width: 50%;
//             height: 60%;
//             border-radius: 50%;
//             background-color: var(--teaGreen);
//             transition: transform 1s ease-out;
//             transition: background-color 0.3s ease-out;

//             .logo-image {
//                 height: 40%;
//                 width: 60%;
//             }
//         }

//         .logo-btn:hover {
//             cursor: pointer;
//             background-color: var(--resedaGreen);
//             transition: transform 0.3s ease-in;
//             transform: scale(1.5);
//         }

//     }

//     .slide-in-top {
//         animation-name: slide-in-top;
//     }

//     @keyframes slide-in-top {
//         from {
//             transform: translate(0, -500%);
//             visibility: visible;
//         }

//         to {
//             transform: translate(0, 0);
//         }
//     }
// }

// .github-scene
// {
//     display: none;
//     justify-content: center;
//     justify-items: center;
//     justify-self: center;
//     background-color: var(--celadon);

//     .github-scene{
//         justify-content: center;
//         justify-items: center;
//         justify-self: center;

//         .github-projects
//         {
//             display: flex;
//             flex-direction: column;
//             background-color: var(--resedaGreen);
//             gap: 10vh;
//             padding: 5vh 10vw 5vh 10vw; //top right bottomw left
//             border-radius: 5vw;
//         }

//         .project
//         {
//             display: grid;
//             grid-template-columns: 1fr 1fr; // 
//             grid-template-rows: 50% 50%;
//             grid-gap: 2%;

//             // padding: 10vh 10vw 10vh 10vw; // top right bottom left
//             justify-content: center;
//             justify-items: center;
//             justify-self: center;
//             background-color: white;
//             border-radius: 10px;

//             .project-image
//             {
//                 justify-self: center;
//                 align-self: center;
//                 grid-row: 1 / 3;
//                 grid-column-start: 1;
//                 width: 70%;
//                 height: 70%;
//             }

//             .git-link
//             {
//                 justify-self: center;
//                 justify-items: center;
//                 grid-row: 1;
//                 grid-column: 2;
//                 width: 5%;
//                 height: 5%;
//             }

//             .git-description
//             {
//                 justify-items: center;
//                 justify-self: center;
//                 grid-row-start: 2;
//                 grid-column-start: 2;
//                 width: 10%;
//                 height: 10%;
//             }
//         }
//     }

// }